.selecionado{
    color: blue;
    border: 1px solid grey;
    padding: 10px;
    background-color: white;
}

body{
    background-color: red;
    
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
}

.enviar{
    background-color: white;
    padding: 5px;

}

.opcao{
    padding: 15px;
    margin: 20px;
}

.alinha-imagem{
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    color: white;
    padding: 20px 30px;
    justify-content: space-between;
    width: 100%;
    
}

